# NOTEBOOK 3 - Merger of ORDERS_PRODUCTS with CUSTOMERS

DATASETS:
- ORDERS_PRODUCTS = df_ORDS_PRODS - merged dataset with 32.640.698 rows and 9 columns
- CUSTOMERS = df_CUST - original dataset with 206.209 rows and 10 columns

CONTENTS:
1. Consistency check
2. Merge

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Import the original dataset with CUSTOMERS

df_CUST = pd.read_csv(r'D:\CareerFoundry\Data Immersion\Task 4\Instacart Basket Analysis_2021-07-22\02 Data\Original Data\customers.csv')

In [3]:
# Import the prepared ORDS_PRODS dataset

df_ORDS_PRODS = pd.read_pickle(r'D:\CareerFoundry\Data Immersion\Task 4\Instacart Basket Analysis_2021-07-22\02 Data\Prepared Data\df_ORDS_PRODS_merged.pkl')

1. Consistency check

In [4]:
df_CUST.info()

# there are 206.209 rows with customers data which equals to 206.209 missing values from the column "days_since_prior_order" in the ORDERS set, which confirms that those rows are related to all first orders

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [5]:
# Rename columns

df_CUST.rename(columns = {'First Name' : 'first_name', 'Surnam' : 'last_name', 'Gender' : 'gender', 'STATE' : 'state', 'Age' : 'age' }, inplace = True)

In [6]:
df_CUST.head()

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
# Check for missing values

df_CUST.isnull().sum()

user_id             0
first_name      11259
last_name           0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

For now, I leave the missing values unaddressed. I task 4.10 the "first_name" and "last_name" column will be deleted due to privacy concerns

In [8]:
# Check for strange values

df_CUST.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [9]:
df_ORDS_PRODS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32642461 entries, 0 to 32642460
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                float64
 1   user_id                 float64
 2   order_number            float64
 3   order_of_the_week       float64
 4   order_hour_of_day       float64
 5   days_since_prior_order  float64
 6   product_id              float64
 7   add_to_cart_order       float64
 8   reordered               float64
 9   product_name            object
 10  aisle_id                float64
 11  department_id           float64
 12  prices                  float64
dtypes: float64(12), object(1)
memory usage: 3.4+ GB

In [10]:
df_CUST.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   first_name    194950 non-null  object
 2   last_name     206209 non-null  object
 3   gender        206209 non-null  object
 4   state         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [11]:
# "user_id" is the common variable in both set; need to make sure the variable is the same data type

df_CUST['user_id'] = df_CUST['user_id'].astype('float64')

In [12]:
df_CUST.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  float64
 1   first_name    194950 non-null  object
 2   last_name     206209 non-null  object
 3   gender        206209 non-null  object
 4   state         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: float64(1), int64(3), object(6)
memory usage: 15.7+ MB

In [ ]:
2. Merger

In [13]:
df_CPO = df_ORDS_PRODS.merge(df_CUST, on = 'user_id')

# For the exercise sake I left out the "how" and the "indicator" arguments. Only this way I could successfully merge those sets

In [14]:
# The merged dataset

df_CPO.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32642450 entries, 0 to 32642449
Data columns (total 22 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                float64
 1   user_id                 float64
 2   order_number            float64
 3   order_of_the_week       float64
 4   order_hour_of_day       float64
 5   days_since_prior_order  float64
 6   product_id              float64
 7   add_to_cart_order       float64
 8   reordered               float64
 9   product_name            object
 10  aisle_id                float64
 11  department_id           float64
 12  prices                  float64
 13  first_name              object
 14  last_name               object
 15  gender                  object
 16  state                   object
 17  age                     int64
 18  date_joined             object
 19  n_dependants            int64
 20  fam_status              object
 21  income                  int64
dtypes: float64(12), int64(3), object(7)
memory usage: 5.6+ GB

In [15]:
df_CPO.isnull().sum()

order_id                        0
user_id                         0
order_number                    0
order_of_the_week               0
order_hour_of_day               0
days_since_prior_order    2078207
product_id                 206209
add_to_cart_order          206209
reordered                  206209
product_name               236409
aisle_id                   236409
department_id              236409
prices                     236409
first_name                1788235
last_name                       0
gender                          0
state                           0
age                             0
date_joined                     0
n_dependants                    0
fam_status                      0
income                          0
dtype: int64

In [17]:
df_CPO.to_pickle(r'D:\CareerFoundry\Data Immersion\Task 4\Instacart Basket Analysis_2021-07-22\02 Data\Prepared Data\df_CPO_merged.pkl')

END of MERGERS

# FOR BUSINESS QUESTIONS PLEASE REFER TO NOTEBOOK "Task 10 Coding etiquette & Excel reporting"